.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table {
  border: midnightblue;
  margin-top: 10px;
}

td {
  background-color: rgba(106, 157, 163, 0.438);
  font-weight: inherit;
}

th {
  background-color: rgb(67, 138, 230);
}
